<div class="ticket-list">
  <div style="padding-top: 10px;">
    <button (click)="archive()" class="btn-custom" style="background-color: white;padding: 10px;border-radius: 5px 5px 5px 5px">
      {{archiveTitle}}
    </button>
  </div>
  <div class="ticket" *ngFor="let ticket of ticketList">
    <ng-template  [ngIf]="displayTicketArchived && ticket.archived" [ngIfElse]="archivedFalse">
      <app-ticket [ticket]="ticket"
                (ticketHasBeenSelected)="ticketHasBeenSelected($event)"
                (ticketDeleted)="deleteTicket($event)"
                (ticketArchived)="archiveTicket($event)"
      >
      </app-ticket>
    </ng-template>
    <ng-template #archivedFalse>
      <ng-template [ngIf]="!displayTicketArchived && !ticket.archived">
        <app-ticket [ticket]="ticket"
                    (ticketHasBeenSelected)="ticketHasBeenSelected($event)"
                    (ticketDeleted)="deleteTicket($event)"
                    (ticketArchived)="archiveTicket($event)"
        >
        </app-ticket>
      </ng-template>
    </ng-template>
  </div>
</div>
